{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Nutriciones</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Comida</th>
                <th>Calorías</th>
                <th>Proteínas</th>
                <th>Grasas</th>
                <th>Carbohidratos</th>
            </tr>
        </thead>
        <tbody>
            {% if nutriciones %}
                {% for nutricion in nutriciones %}
                    <tr>
                        <td>{{ nutricion.id }}</td>
                        <td>{{ nutricion.nombre_comida }}</td>
                        <td>{{ nutricion.calorias }}</td>
                        <td>{{ nutricion.proteinas }}</td>
                        <td>{{ nutricion.grasas }}</td>
                        <td>{{ nutricion.carbohidratos }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">No hay nutriciones registradas.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'controlpesos:agregar_comida' %}" class="btn btn-success">Agregar nueva comida</a>
</div>
{% endblock %}
